/**
 * Mode switch variables.
 */

@mixin light-mode-custom-properties {
    --color-body-bg: #{$color-body-bg};
    --color: #{$color};
    --color-bg: #{$color-bg};
    --color-state: #{$color-state};
    --color-state-active: #{$color-state-active};
    --color-state-hover: #{$color-state-hover};
    --color-state-disabled: #{$color-state-disabled};
    --color-in-header: #{$color-in-header};
    --color-divider: #{$color-divider};
    --color-footer: #{$color-state};
    --pseudo-header-image: url('/src/assets/images/bg-desktop-light.jpg');
    --switch-mode-image: url('/src/assets/images/icon-moon.svg');
    --shadow-color: #{$color-light-grayish-blue};
}

@mixin dark-mode-custom-properties {
    --color-body-bg: #{$color-dark-very-dark-blue};
    --color: #{$color-dark-light-grayish-blue};
    --color-bg: #{$color-dark-very-dark-desaturated-blue};
    --color-state: #{$color-dark-grayish-blue};
    --color-state-active: #{$color-state-active};
    --color-state-hover: #{$color-dark-light-grayish-blue-hover};
    --color-state-disabled: #{$color-dark-very-dark-grayish-blue};
    --color-in-header: #{$color-white};
    --color-divider: #{$color-dark-grayish-blue};
    --color-footer: #{$color-state};
    --pseudo-header-image: url('/src/assets/images/bg-desktop-dark.jpg');
    --switch-mode-image: url('/src/assets/images/icon-moon.svg');
    --shadow-color: rgba(0, 0, 0, .2);
}
