/**
 * Font face.
 */

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/josefin-sans-v23-latin/josefin-sans-v23-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/josefin-sans-v23-latin/josefin-sans-v23-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/josefin-sans-v23-latin/josefin-sans-v23-latin-700.woff2') format('woff2'),
    url('../assets/fonts/josefin-sans-v23-latin/josefin-sans-v23-latin-700.woff') format('woff');
}
