/**
 * Adjust box sizing on site.
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
 * Adjust font size for easier px to rem conversion.
 */
html {
    font-size: 62.5%;
}

/**
 * Side wide custom properties.
 */
:root {
    --base-width-max-width: #{$base-width-max-width};
    --base-width-side-margin: #{$base-width-side-margin};

    /* colors */
    --color-black: #{$color-black};
    --color-white: #{$color-white};
    /* colors light */
    --color-very-light-gray: #{$color-very-light-gray};
    --color-very-light-grayish-blue: #{$color-very-light-grayish-blue};
    --color-light-grayish-blue: #{$color-light-grayish-blue};
    --color-dark-grayish-blue: #{$color-dark-grayish-blue};
    --color-very-dark-grayish-blue: #{$color-very-dark-grayish-blue};
    /* colors dark */
    --color-dark-very-dark-blue: #{$color-dark-very-dark-blue};
    --color-dark-very-dark-desaturated-blue: #{$color-dark-very-dark-desaturated-blue};
    --color-dark-light-grayish-blue: #{$color-dark-light-grayish-blue};
    --color-dark-light-grayish-blue-hover: #{$color-dark-light-grayish-blue-hover};
    --color-dark-dark-grayish-blue: #{$color-dark-dark-grayish-blue};
    --color-dark-very-dark-grayish-blue: #{$color-dark-very-dark-grayish-blue};
    --color-dark-very-dark-grayish-blue-alt: #{$color-dark-very-dark-grayish-blue-alt};

    /* colors modes */
    --color-body-bg: #{$color-very-light-grayish-blue};
    --color: #{$color-black};
    --color-bg: #{$color-very-light-gray};
    --color-state: #{$color-dark-grayish-blue};
    --color-state-active: #{$color-state-active};
    --color-state-hover: #{$color-dark-light-grayish-blue-hover};
    --color-state-disabled: #{$color-dark-grayish-blue};
    --color-in-header: #{$color-white};
    --color-divider: #{$color-dark-grayish-blue};

    /* font-sizes */
    --font-size-90: #{$font-size-90};
    --font-size-100: #{$font-size-100};
    --font-size-110: #{$font-size-110};

    /* settings */
    --header-inset: #{$header-inset};
    --default-radius: #{$default-radius};
    --checkbox-gradient: #{$checkbox-gradient};
    --checkbox-gradient-inner: #{$checkbox-gradient-inner};
    --list-padding: #{$list-padding};
}

/**
 * Remove annoying empty space below inline-block elements.
 */
img,
[style*='inline-block' i],
svg,
canvas,
picture {
    vertical-align: middle;
}

img,
svg {
    height: auto;
    max-width: 100%;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li,
blockquote,
figure {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    color: inherit;
    background-color: transparent;
    appearance: none;
    border: none;
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-sans-v23-latin/josefin-sans-v23-latin-regular.woff2') format('woff2'),
    url('../fonts/josefin-sans-v23-latin/josefin-sans-v23-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/josefin-sans-v23-latin/josefin-sans-v23-latin-700.woff2') format('woff2'),
    url('../fonts/josefin-sans-v23-latin/josefin-sans-v23-latin-700.woff') format('woff');
}

body {
    font: normal 400 1.8rem/1.6 'Josefin Sans', sans-serif;
}

/**
 * Sticky footer.
 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-body-bg);
}

body > header,
body > footer {
    flex: 0 0 auto;
}

body > main {
    flex: 1 1 auto;
}

/**
 * Add base width to handle horizontal alignment.
 */
.base-width {
    width: calc(100% - (2 * #{$base-width-side-margin}));
    max-width: $base-width-max-width;
    margin-right: auto;
    margin-left: auto;

    @supports (color: var(--color)) {
        width: calc(100% - (2 * var(--base-width-side-margin)));
        max-width: var(--base-width-max-width);
    }
}

.main::before {
    content: '';
    display: block;
    min-height: calc(#{$header-inset} + 2rem);
    min-height: calc(var(--header-inset) + 2rem);
    margin-bottom: calc(#{$header-inset} * -1);
    margin-bottom: calc(var(--header-inset) * -1);
    padding-top: calc(300 / 1440 * 100%);
    background-image: url('../../images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
