/**
 * Action button.
 */
.action-button {
    font-size: var(--font-size-90);
    color: var(--color-state);
    font-weight: 400;
    line-height: 1.142;
    letter-spacing: -.01em;

    &--strong {
        font-weight: 700;
    }

    &:hover {
        color: var(--color-state-hover);
    }

    &.active {
        color: var(--color-state-active);
    }

    &--pseudo:hover {
        color: var(--color-state-disabled);
    }
}
