
/**
 * Header title.
 */
.header-title {
    display: flex;
    align-items: center;
    color: var(--color-in-header);
    margin-bottom: 4rem;

    &__main {
        margin-top: 0;
        margin-bottom: 0;
        font-size: var(--font-size-110);
        text-transform: uppercase;
        letter-spacing: .3em;
        font-weight: 400;
    }

    &__action {
        margin-left: auto;
    }
}
