/**
 * List footer.
 */
.list-footer {
    display: flex;
    justify-content: space-between;

    @include media-mobile-down {
        display: block;
    }

    &__upper,
    &__lower {
        flex: 0 0 100%;
        padding: $list-padding;
        padding: var(--list-padding);
        background-color: $color-bg;
        background-color: var(--color-bg);
        border-bottom-right-radius: $default-radius;
        border-bottom-right-radius: var(--default-radius);
        border-bottom-left-radius: $default-radius;
        border-bottom-left-radius: var(--default-radius);
    }

    &__upper {
        display: flex;
    }

    &__upper > * + * {
        margin-left: auto;
    }

    &__lower {
        display: flex;
        justify-content: center;
        margin-left: -100%;
        background-color: transparent;
        pointer-events: none;

        @include media-mobile-down {
            margin-top: 1.6rem;
            margin-left: 0;
            background-color: var(--color-bg);
            border-radius: var(--default-radius);
        }
    }

    &__lower > * {
        pointer-events: all;
    }

    &__lower > * + * {
        margin-left: 2.6rem;
    }
}
