/**
 * App container.
 */

.shadow-wrapper {
    box-shadow: 40px 60px 40px -40px rgba(0, 0, 0, .12);

    @include media-mobile-down {
        // Todo: Replace app container box shadow.
        box-shadow: none;
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, .12));
    }
}
