/**
 * Todo counter :)
 */
.todo-counter {
    counter-reset: todo-item;

    [data-todo-item]:not(.checked) {
        counter-increment: todo-item;
    }

    &__amount::after {
        content: counter(todo-item);
    }
}
