/**
 * Todo item.
 */
.todo-item {
    &.dragover {
        background-color: var(--color-body-bg);
    }

    &.dragged {
        opacity: .5;
    }

    &,
    > label {
        display: flex;
        align-items: center;
    }

    padding: $list-padding;
    padding: var(--list-padding);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $color-divider;
    border-bottom-color: var(--color-divider);
    background-color: $color-bg;
    background-color: var(--color-bg);
    font-weight: 400;
    letter-spacing: -.014em;

    > label {
        flex: 0 0 100%;
        align-items: flex-start;
    }

    &:first-child {
        border-top-left-radius: $default-radius;
        border-top-left-radius: var(--default-radius);
        border-top-right-radius: $default-radius;
        border-top-right-radius: var(--default-radius);
    }

    &--input {
        border-radius: $default-radius;
        border-radius: var(--default-radius);
        margin-bottom: 2.4rem;
        border-bottom: none;
    }

    &__checkbox {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }

    &__label,
    &__input {
        font-size: $font-size-100;
        font-size: var(--font-size-100);
        line-height: 1.5;
        padding: 0;
    }

    &__label {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex: 1 1 100%;
        cursor: pointer;
    }

    &__checkbox:checked + &__label {
        text-decoration: line-through;
        color: $color-state-disabled;
        color: var(--color-state-disabled);
    }

    &__checkbox:focus + &__label {
        color: var(--color);
    }

    &__pseudo-checkbox {
        overflow: hidden;
        display: block;
        position: relative;
        flex: 0 0 auto;
        border-radius: 50%;
        margin-right: 2.4rem;
        vertical-align: middle;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $color-checkbox-border;

        &::before,
        &::after {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            transition: transform $transition-duration-default-out;
        }

        &::before {
            border: solid 1px transparent;
            background-color: $color-bg;
            background-color: var(--color-bg);
            background-clip: content-box;
            transform: scale(1);
        }

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url('../../images/icon-check.svg');
            background-size: 50%;
            transform: scale(0);
        }
    }

    &__label:hover &__pseudo-checkbox,
    &:focus-within &__pseudo-checkbox,
    &__checkbox:checked + &__label &__pseudo-checkbox,
    &__checkbox:focus + &__label &__pseudo-checkbox {
        background-image: $checkbox-gradient;
        transition-duration: $transition-duration-default-in;
    }

    &__label:hover &__pseudo-checkbox::before,
    &:focus-within &__pseudo-checkbox::before,
    &__checkbox:focus + &__label &__pseudo-checkbox::before {
        border-color: transparent;
        transition-duration: $transition-duration-default-in;
    }

    &__checkbox:checked + &__label &__pseudo-checkbox::after {
        transform: scale(1);
        transition-duration: $transition-duration-default-in;
        transition-delay: $transition-duration-default-in;
    }

    &__checkbox:checked + &__label &__pseudo-checkbox::before {
        transform: scale(0);
        transition-duration: $transition-duration-default-in;
    }

    &__label-inner {
        flex: 1 1 100%;
    }

    &__input {
        display: block;
        width: 100%;
        background-color: transparent;
        border: none;
        color: inherit;
    }

    &__input:focus {
        outline: none;
    }

    &__actions {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 0;
        min-height: 100%;
        padding-left: 1rem;
        background-image: linear-gradient(90deg, rgba($color-white, 0) 0%, $color-white 1rem, $color-white);
        transform: translateY(-50%);

        @supports (background-image: linear-gradient(90deg, rgba($color-white, 0) 0%, var(--color-bg) 1rem, var(--color-bg))) {
            background-image: linear-gradient(90deg, rgba($color-white, 0) 0%, var(--color-bg) 1rem, var(--color-bg));
        }

        @include media-mobile-up {
            display: none;
            min-height: 0;
        }

        > * + * {
            margin-left: 1rem;
        }
    }

    &:hover &__actions {
        display: flex;
    }

    &__delete,
    &__single-action {
        display: block;
        text-indent: -999em;
        width: 1.8rem;
        height: 1.8rem;
        background-image: url('../../images/icon-cross.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__single-action {
        background-image: none;
    }
}
