/**
 * Todo counter :)
 */
.todo-counter {
    counter-reset: todo-item;
}

.todo-counter input[type=checkbox]:not(:checked) {
    counter-increment: todo-item;
}

.todo-counter__amount::after {
    content: counter(todo-item);
}
