/**
 * Todo item.
 */
.todo-item {
    display: flex;
    align-items: center;
    padding: $list-padding;
    padding: var(--list-padding);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $color-divider;
    border-bottom-color: var(--color-divider);
    color: var(--color);
    background-color: $color-bg;
    background-color: var(--color-bg);
    font-weight: 400;

    &:first-child {
        border-top-left-radius: $default-radius;
        border-top-left-radius: var(--default-radius);
        border-top-right-radius: $default-radius;
        border-top-right-radius: var(--default-radius);
    }

    &--input {
        border-radius: $default-radius;
        border-radius: var(--default-radius);
        margin-bottom: 2.4rem;
    }

    &__checkbox {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }

    &__label,
    &__input {
        font-size: $font-size-100;
        font-size: var(--font-size-100);
        line-height: 1.4;
        padding: 0;
    }

    &__label {
        display: flex;
        align-items: flex-start;
        flex: 1 1 100%;
        cursor: pointer;
    }

    &__label::before {
        overflow: hidden;
        content: '';
        display: block;
        flex: 0 0 auto;
        width: 2.4rem;
        height: 2.4rem;
        margin-top: -.3rem;
        border: solid 0px transparent;
        border-image-slice: 1;
        border-radius: 50%;
        margin-right: 2.4rem;
        vertical-align: middle;
        background-image: #{$checkbox-gradient-inner},
        url('../../images/icon-check.svg'),
        radial-gradient(closest-side, #{$color-light-grayish-blue}, #{$color-light-grayish-blue} 99.9%, rgba(255, 255, 255, 0) 100%),
        #{$checkbox-gradient};
        background-size: calc(100% - 4px) calc(100% - 4px), 0%, 100%, 100% 100%;
        background-position: center;
        background-repeat: no-repeat;

        @supports (color: var(--color)) {
            background-image: var(--checkbox-gradient-inner),
            url('../../images/icon-check.svg'),
            radial-gradient(closest-side, #{$color-light-grayish-blue}, #{$color-light-grayish-blue} 99.9%, rgba(255, 255, 255, 0) 100%),
            var(--checkbox-gradient);
        }
    }

    &__label:hover::before,
    &:focus-within &__label::before,
    &__checkbox:focus + &__label::before {
        background-size: calc(100% - 4px) calc(100% - 4px), 50%, 0, 100% 100%;
    }

    &__checkbox:checked + &__label::before {
        background-size: 0 0, 50%, 0, 100% 100%;
    }

    &__checkbox:checked + &__label {
        text-decoration: line-through;
        color: $color-state-disabled;
        color: var(--color-state-disabled);
    }

    &__label-inner {
        flex: 1 1 100%;
    }

    &__input {
        display: block;
        width: 100%;
        background-color: transparent;
        border: none;
    }

    &__input:focus {
        outline: none;
    }
}
